* {
  background-color: #b38d97;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bank {
  width: 300px;
  background: #746a73;
  position: absolute;
}

.bank-button {
  font-family: "Dosis", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.bank-button:hover {
  color: #f1f1f1;
}

.active {
  color: white;
}

.container {
  margin: 40px;
  text-align: center;
  background: #746a73;
}

.fa-caret-down {
  padding-left: 70px;
  background-color: #746a73;
}

.pokerchip {
  margin: 1em;
  position: relative;
  display: inline-block;
  width: 151px;
  height: 151px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
  border-radius: 50%;
  cursor: pointer;
}
.pokerchip:before {
  position: absolute;
  content: "";
  z-index: 1;
  width: 117px;
  height: 117px;
  border-radius: 50%;
  top: 9px;
  left: 9px;
  background-size: 151px 151px;
  background-position: center center;
}
.pokerchip:after {
  z-index: 2;
  position: absolute;
  content: "25";
  text-align: center;
  font: bold 50px/111px Arial;
  white-space: pre;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3),
    1px 1px 0px rgba(255, 255, 255, 0.2);
}

.btn {
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 67.5px,
      #fff 67.5px,
      #fff 83.5px,
      transparent 83.5px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 97.4304px,
      #fff 97.4304px,
      #fff 113.4304px,
      transparent 113.4304px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      #222222 0,
      #222222 97.4304px,
      #fff 97.4304px,
      #fff 113.4304px,
      #222222 113.4304px,
      #222222 151px
    );
}
.btn:before {
  border: 8px solid #222222;
  background-image: linear-gradient(
      0deg,
      transparent 0,
      transparent 69.5px,
      #ebebeb 69.5px,
      #ebebeb 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      30deg,
      transparent 0,
      transparent 98.7104px,
      #ebebeb 98.7104px,
      #ebebeb 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      60deg,
      transparent 0,
      transparent 98.7104px,
      #ebebeb 98.7104px,
      #ebebeb 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      90deg,
      transparent 0,
      transparent 69.5px,
      #ebebeb 69.5px,
      #ebebeb 81.5px,
      transparent 81.5px,
      transparent 151px
    ),
    linear-gradient(
      120deg,
      transparent 0,
      transparent 98.7104px,
      #ebebeb 98.7104px,
      #ebebeb 110.7104px,
      transparent 110.7104px,
      transparent 151px
    ),
    linear-gradient(
      150deg,
      #000000 0,
      #000000 98.7104px,
      #ebebeb 98.7104px,
      #ebebeb 110.7104px,
      #000000 110.7104px,
      #000000 151px
    );
}
.btn.one:after {
  content: "1";
  background: #222222;
  color: #000000;
}

.btn.two:after {
  content: "5";
  background: #222222;
  color: #000000;
}

.btn.three:after {
  content: "25";
  background: #222222;
  color: #000000;
}

.btn.four:after {
  content: "50";
  background: #222222;
  color: #000000;
}

.btn.five:after {
  content: "100";
  background: #222222;
  color: #000000;
}

.btn.six:after {
  content: "500";
  background: #222222;
  color: #000000;
}

.btn.seven:after {
  content: "1000";
  background: #222222;
  color: #000000;
}

.allin {
  border: dotted;
  border-color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 15px;
  margin-bottom: 20px;
  color: white;
}

.game {
  text-align: center;
  font-family: "Dosis", sans-serif;
  color: white;
  padding: 20px;
  margin: auto;
  width: 12%;
}

.options {
  cursor: pointer;
  border-style: solid;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

.options:hover {
  color: #746a73;
}

.join {
  width: 800px;
  margin: 0 auto;
  border: solid;
  border-color: white;
  background-color: white;
  align-items: center;
  text-align: center;
  margin-top: 220px;
}

.join p {
  color: #746a73;
  background-color: white;
  text-align: center;
  font-family: "Dosis", sans-serif;
  padding-top: 15px;
  font-size: large;
}

.play {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  color: white;
  margin: 25px;
  font-family: "Dosis", sans-serif;
}

.play:hover {
  color: #746a73;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
}

.modal-content p {
  font-family: "Dosis", sans-serif;
  color: #746a73;
  background-color: white;
}

.modal-content form {
  background-color: white;
}

.modal-content label {
  font-family: "Dosis", sans-serif;
  color: #746a73;
  background-color: white;
}

input {
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 15px;
}

.submit {
  font-family: "Dosis", sans-serif;
  color: #746a73;
  background-color: white;
  width: 12%;
  padding: 10px;
  border: solid;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
}

.submit:hover {
  color: #b38d97;
}

.close1,
.close2,
.close3 {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  background-color: white;
}

.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
