*{
    background-color: #B38D97;
    margin: 0; 
    padding: 0; 
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height: 100%;
 }

.topbar {
    border-style: solid;
    border-color: #746a73;
    background: #746a73;
    padding: 15px;
    text-align: center;
}

.stopwatch, .score, .moves {
    margin: 7px;
    background: #746a73;
    display: inline;
    margin: 30px;
}

.stopwatch label, .moves label, .score label{
    margin: 7px;
    background: #746a73;
    font-family: 'Dosis', sans-serif;
    color: white;
}

.stopwatch .time, .score span, .moves span{
    background: #746a73;
    font-family: 'Dosis', sans-serif;
    color: white;
}
