<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Solitaire</title>
    <link rel="stylesheet" href="css/solitaire.css" />
    <link rel="stylesheet" href="css/cards.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topbar">
      <div class="stopwatch">
        <label>Stopwatch</label>
        <span class="time" id="display">00:00</span>
      </div>
      <div class="score">
        <label>Score</label>
        <span>0</span>
      </div>
      <div class="moves">
        <label>Moves</label>
        <span>0</span>
      </div>
    </div>
    <div class="board">
      <div class="top-row">
        <div id="stock" class="card-pile"></div>
        <div id="waste" class="card-pile"></div>
        <div id="ace1" class="card-pile"></div>
        <div id="ace2" class="card-pile"></div>
        <div id="ace3" class="card-pile"></div>
        <div id="ace4" class="card-pile"></div>
      </div>
      <div class="bottom-row">
        <div id="stack1" class="card-pile"></div>
        <div id="stack2" class="card-pile"></div>
        <div id="stack3" class="card-pile"></div>
        <div id="stack4" class="card-pile"></div>
        <div id="stack5" class="card-pile"></div>
        <div id="stack6" class="card-pile"></div>
        <div id="stack7" class="card-pile"></div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
