*{
    background-color: #efe6ee;
    margin: 0; 
    padding: 0; 
    box-sizing:border-box;
}

img{
    display: block;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.menu{
    text-align: center;
    
}

.option{
    padding: 100px;
    display: inline-block;
}

.option a{
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #746a73;
    font-size: 27px;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.option a:hover{
    color: #B38D97;
}

.credit p{
    font-family: 'Dosis', sans-serif;
    color: #746a73;
    margin-top: 100px;
    text-align: center;
}